<footer class="nav">
    <a title="QCM" href="/dashboard"><i class="fa-solid fa-list-check"></i></a>
    <a title="Historique" href="/history"><i class="fa-solid fa-clock-rotate-left"></i></a>
    <a title="Home" href="/home"><i class="fa-solid fa-house-user"></i></a>
    <a title="Stats" href="/stats"><i class="fa-solid fa-chart-line"></i></a>
    <a title="Notifations" href="/notif"><i class="fa-solid fa-bell"></i></a>
</footer>