<footer class="nav">
    <a title="Entrainement" href="/training"><i class="fa-solid fa-pen-clip"></i></a>
    <a title="Révision" href="/revision"><i class="fa-solid fa-book-open"></i></a>
    <a title="Examen" href="/exam"><i class="fa-solid fa-graduation-cap"></i></a>
    <a title="Home" href="/dashboard"><i class="fa-regular fa-circle-left"></i></a>
</footer>