<!DOCTYPE html>
<html lang="fr">
  <%- include('./includes/head', {title: "Home - Pharmat", style: "index"}); %>
  <body>
    <main>
        <h1>Vous êtes perdu</h1>
        <img class="logo_index" src="../assets/logo.jpeg">
        <p>Page inconnue</p>
        <a class="blue_button" href="/home">Accueil</a>
    </main>
    <footer>&copy;Pharmat - Made by <a href="https://github.com/Benoit62">@Benoît</a></footer>
  </body>
</html>
