<!DOCTYPE html>
<html lang="fr">
  <%- include('./includes/head', {title: "Admin - Pharmat", style: "admin"}); %>
  <body>
    <main>
        <h1>Panel admin</h1>
        
    </main>
    <%- include('./includes/nav_admin'); %>
  </body>
</html>
