<!DOCTYPE html>
<html lang="fr">
    <%- include('./includes/head', {title: "Session - Pharmat", style: "dashboards"}); %>
    <body>
    <%- include('./includes/messages'); %>
        <main>
            <h2>Coming soon ...</h2>
        </main>
    <%- include('./includes/nav_dashboard'); %>
    </body>
</html>