<!DOCTYPE html>
<html lang="fr">
  <%- include('./includes/head', {title: "Pharmat", style: "index"}); %>
  <body>
    <main>
        <h1>Bienvenue sur Pharmat</h1>
        <img class="logo_index" src="../assets/logo.png">
        <p>L'application qui va t'accompagner pour la préparation de l'internat de pharmacie</p>
        <a class="blue_button" href="/register">Inscription</a>
        <a class="green_button" href="/login">Connexion</a>
    </main>
    <footer>&copy;Pharmat - Made by <a class="personal_link" href="https://github.com/Benoit62">@Benoît</a></footer>
  </body>
</html>
