<!DOCTYPE html>
<html lang="fr">
    <%- include('./includes/head', {title: "Inscription - Pharmat", style: "auth"}); %>
    <body>
        
        <%- include('./includes/messages'); %>
        <main>
            <h1>Inscription</h1>
            <form id="form">
                <input name="mail" type="email" placeholder="Mail">
                <input name="name" type="text" placeholder="Nom">
                <input name="password" type="password" placeholder="Mot de passe">
                <input name="confirm_password" type="password" placeholder="Confirmation">
                <button class="blue_button" type="submit">Inscription</button>
            </form>
            <a href="/login">Connexion</a>
        </main>
        <script>
            $("#form").submit(function (e) {
                e.preventDefault()
                const formData = Object.fromEntries(new FormData(this))
                
                $.ajax({
                    method: "POST",
                    url: '/register', // Remplacez par l'URL appropriée
                    data: formData, // Les données à envoyer
                    dataType: "json"
                })
                .done(function (response) {
                    showMessage(response.message, "success")
                })
                .fail(function (error) {
                    console.log(error)
                    showMessage(error.responseJSON.message || "Erreur serveur", "error")
                })
            })
        </script>
    </body>
</html>
