
.modal_ask_phone_number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 3%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal_ask_phone_number_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 3%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal_ask_phone_number_content h2 {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.phone_number_input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid var(--main-blue);
    border-radius: 5px;
    font-size: larger;
    cursor: text;
}

/* Chrome, Safari, Edge, Opera */
.phone_number_input::-webkit-outer-spin-button,
.phone_number_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.phone_number_input {
    -moz-appearance: textfield;
    appearance: textfield;
}

.modal_button_container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.submit_phone_number_button {
    padding: 0.5em 1em;
    background-color: var(--main-blue);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
}

.close_modal_ask_phone_number {
    padding: 0.5em 1em;
    background-color: var(--main-red);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
}
